<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <base>
            <module_id>naxero_monetico</module_id>
            <module_name>Naxero_Monetico</module_name>
            <module_label>Naxero Monetico</module_label>
            <module_url><![CDATA[https://www.naxero.com]]></module_url>
            <exclude>model,simu_secret_key,test_secret_key</exclude>
            <supported_currencies>EUR,978;USD,840;CHF,756;GBP,826;CAD,124;JPY,392;MXP,484;TRY,949;AUD,036;NZD,554;NOK,578;BRC,986;ARP,032;KHR,116;TWD,901;SEK,752;DKK,208;KRW,410;SGD,702;XPF,953;XOF,952</supported_currencies>
            <customer_email_field>customerEmail</customer_email_field>
            <order_id_field>orderId</order_id_field>
            <capture_mode_field>captureMode</capture_mode_field>
            <transaction_id_field>reference</transaction_id_field>
        </base>
        <payment>
            <naxero_monetico>
                <model>Naxero\Monetico\Model\Methods\RedirectMethod</model>
                <debug>0</debug>
                <logging>1</logging>
                <new_order_status>pending</new_order_status>
                <order_status_authorized>pending_payment</order_status_authorized>
                <order_status_captured>processing</order_status_captured>
                <environment>test</environment>
                <sort_order>1</sort_order>        
                <account_key_test>12345678901234567890123456789012345678P0</account_key_test>
                <account_key_prod></account_key_prod>
                <account_tpe>0000001</account_tpe>
                <account_version>3.0</account_version>
                <account_code>44ca94294dca5bd0bca7</account_code>
                <email_cookie_name>guestEmail</email_cookie_name>
                <method_cookie_name>methodId</method_cookie_name>
            </naxero_monetico>
            <naxero_monetico_redirect_method>
                <method_id>naxero_monetico_redirect_method</method_id>
                <model>Naxero\Monetico\Model\Methods\RedirectMethod</model>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_use_internal>0</can_use_internal>
                <payment_action>authorize_capture</payment_action>                
                <title>Redirection Card Payment (Monetico)</title>
                <active>1</active>
                <button_label>Place order</button_label>
                <verify_3ds>0</verify_3ds>
                <auto_generate_invoice>1</auto_generate_invoice>
                <invoice_creation>capture</invoice_creation>
                <capture_mode>IMMEDIATE</capture_mode>
                <capture_day>0</capture_day>
                <sort_order>1</sort_order>
                <bypass_receipt>0</bypass_receipt>
                <normal_return_url><![CDATA[response/normal]]></normal_return_url>
                <automatic_response_url><![CDATA[response/automatic]]></automatic_response_url>
                <api_url_test_charge><![CDATA[https://p.monetico-services.com/test/]]></api_url_test_charge>
                <api_url_prod_charge><![CDATA[https://p.monetico-services.com/]]></api_url_prod_charge>
                <load_request_data>1</load_request_data>
            </naxero_monetico_redirect_method>
        </payment>
    </default>
</config>