<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment" translate="label" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="naxero_monetico" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Naxero Monetico</label>
                <group id="base_settings" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="10">
                    <label>Base Settings</label>

                    <field id="debug" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Debug</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/naxero_monetico/debug</config_path>
                    </field>

                    <field id="logging" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Logging</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/naxero_monetico/logging</config_path>
                    </field>
                   
                    <field id="sort_order" translate="label" sortOrder="20" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Sort Order</label>
                        <validate>validate-number</validate>
                        <config_path>payment/naxero_monetico/sort_order</config_path>
                    </field>
                </group>

                <group id="payment_methods" translate="label" showInDefault="1" showInWebsite="1" sortOrder="20">
                    <label>Payment Methods</label>
                    <group id="naxero_monetico_redirect_method" translate="label" showInDefault="1" showInWebsite="1" sortOrder="0">
                        <label>Redirect Method</label>
                        <attribute type="activity_path">payment/naxero_monetico_redirect_method/active</attribute>

                        <field id="redirect_method_active" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/naxero_monetico_redirect_method/active</config_path>
                        </field>

                        <field id="redirect_method_title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Title</label>
                            <config_path>payment/naxero_monetico_redirect_method/title</config_path>
                        </field>

                        <field id="redirect_method_button_label" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Button label</label>
                            <config_path>payment/naxero_monetico_redirect_method/button_label</config_path>
                        </field>

                        <field id="redirect_method_bypass_receipt" translate="label comment" sortOrder="30" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Bypass receipt page</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/naxero_monetico_redirect_method/bypass_receipt</config_path>
                            <comment>If set to yes, the shopper will be redirected directly to the site after payment without the receipt step.</comment>       
                        </field>

                        <field id="redirect_method_verify_3ds" translate="label" sortOrder="40" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>3D Secure Verification</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/naxero_monetico_redirect_method/verify_3ds</config_path>
                        </field>

                        <field id="redirect_method_sort_order" translate="label" sortOrder="50" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Sort Order</label>
                            <validate>validate-number</validate>
                            <config_path>payment/naxero_monetico_redirect_method/sort_order</config_path>
                        </field>
                    </group>

                    <group id="naxero_monetico_iframe_method" translate="label" showInDefault="1" showInWebsite="1" sortOrder="20">
                        <label>Iframe Method</label>
                        <attribute type="activity_path">payment/naxero_monetico_iframe_method/active</attribute>

                        <field id="iframe_method_active" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/naxero_monetico_iframe_method/active</config_path>
                        </field>

                        <field id="iframe_method_title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Title</label>
                            <config_path>payment/naxero_monetico_iframe_method/title</config_path>
                        </field>

                        <field id="iframe_method_sort_order" translate="label" sortOrder="20" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Sort Order</label>
                            <validate>validate-number</validate>
                            <config_path>payment/naxero_monetico_iframe_method/sort_order</config_path>
                        </field>

                        <field id="iframe_method_button_label" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Button label</label>
                            <config_path>payment/naxero_monetico_iframe_method/button_label</config_path>
                        </field>

                        <field id="iframe_method_width" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Iframe width</label>
                            <config_path>payment/naxero_monetico_iframe_method/iframe_width</config_path>
                        </field>

                        <field id="iframe_method_height" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Iframe height</label>
                            <config_path>payment/naxero_monetico_iframe_method/iframe_height</config_path>
                        </field>

                        <field id="iframe_method_border" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Iframe height</label>
                            <config_path>payment/naxero_monetico_iframe_method/iframe_border</config_path>
                        </field>

                        <field id="iframe_method_bypass_receipt" translate="label comment" sortOrder="70" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Bypass receipt page</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/naxero_monetico_iframe_method/bypass_receipt</config_path>
                            <comment>If set to yes, the shopper will be redirected directly to the site after payment without the receipt step.</comment>       
                        </field>

                        <field id="iframe_method_verify_3ds" translate="label" sortOrder="80" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>3D Secure Verification</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/naxero_monetico_iframe_method/verify_3ds</config_path>
                        </field>

                        <field id="iframe_method_capture_mode" translate="label" sortOrder="90" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Capture mode</label>
                            <source_model>Naxero\Monetico\Model\Adminhtml\Source\CaptureMode</source_model>
                            <config_path>payment/naxero_monetico_iframe_method/capture_mode</config_path>
                        </field>

                        <field id="iframe_method_capture_day" translate="label comment" sortOrder="100" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Capture Day</label>
                            <config_path>payment/naxero_monetico_iframe_method/capture_day</config_path>
                            <validate>validate-required validate-digits validate-zero-or-greater</validate>
                            <depends>
                                <field id="iframe_method_capture_mode" separator=",">AUTHOR_CAPTURE,VALIDATION</field>
                            </depends>
                            <comment>
                                Deferred capture in number of days.
                            </comment>
                        </field>

                        <field id="iframe_method_auto_generate_invoice" translate="label comment" sortOrder="110" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Automatically generate invoice</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/naxero_monetico_iframe_method/auto_generate_invoice</config_path>
                        </field>

                        <field id="iframe_method_invoice_creation" translate="label comment" sortOrder="120" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Invoice creation</label>
                            <source_model>Naxero\Monetico\Model\Adminhtml\Source\InvoiceCreation</source_model>
                            <config_path>payment/naxero_monetico_iframe_method/invoice_creation</config_path>
                            <depends>
                                <field id="iframe_method_auto_generate_invoice">1</field>
                            </depends>                        
                        </field>      
                    </group>
                </group>

                <group id="account_parameters" translate="label" showInDefault="1" showInWebsite="1" sortOrder="30">
                    <label>Account parameters</label>
                    <field id="environment" translate="label" sortOrder="0" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Environment</label>
                        <source_model>Naxero\Monetico\Model\Adminhtml\Source\Environment</source_model>
                        <config_path>payment/naxero_monetico/environment</config_path>
                    </field>

                    <field id="account_key_test" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Test Account Key</label>
                        <config_path>payment/naxero_monetico/account_key_test</config_path>
                        <depends>
                            <field id="environment">test</field>
                        </depends>
                    </field>

                    <field id="account_key_prod" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Production Account Key</label>
                        <config_path>payment/naxero_monetico/account_key_prod</config_path>
                        <depends>
                            <field id="environment">prod</field>
                        </depends>
                    </field>

                    <field id="account_tpe" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Account TPE</label>
                        <config_path>payment/naxero_monetico/account_tpe</config_path>
                    </field>

                    <field id="account_version" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Version</label>
                        <config_path>payment/naxero_monetico/account_version</config_path>
                    </field>

                    <field id="account_code" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Company code</label>
                        <config_path>payment/naxero_monetico/account_code</config_path>
                    </field>
                </group>

                <group id="order_settings" translate="label" showInDefault="1" showInWebsite="1" sortOrder="40">
                    <label>Order Status Settings</label>

                    <field id="new_order_status" translate="label comment" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>New order status</label>
                        <source_model>Naxero\Monetico\Model\Adminhtml\Source\OrderStatus</source_model>
                        <config_path>payment/naxero_monetico/new_order_status</config_path>
                        <comment>Select the status that should be used for new orders.</comment>
                    </field>

                    <field id="order_status_authorized" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Authorisation order status</label>
                        <source_model>Naxero\Monetico\Model\Adminhtml\Source\OrderStatus</source_model>
                        <config_path>payment/naxero_monetico/order_status_authorized</config_path>
                        <comment>Select the status that should be used for orders with successful payment authorisation.</comment>
                    </field>

                    <field id="order_status_captured" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Capture order status</label>
                        <source_model>Naxero\Monetico\Model\Adminhtml\Source\OrderStatus</source_model>
                        <config_path>payment/naxero_monetico/order_status_captured</config_path>
                        <comment>Select the status that should be used for orders with successful payment capture.</comment>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
