<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment" translate="label" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="cmsbox_monetico" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Cmsbox Monetico</label>
                <group id="base_settings" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="10">
                    <label>Base Settings</label>

                    <field id="debug" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Debug</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/cmsbox_monetico/debug</config_path>
                    </field>

                    <field id="logging" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Logging</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/cmsbox_monetico/logging</config_path>
                    </field>
                   
                    <field id="sort_order" translate="label" sortOrder="20" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Sort Order</label>
                        <validate>validate-number</validate>
                        <config_path>payment/cmsbox_monetico/sort_order</config_path>
                    </field>
                </group>

                <group id="payment_methods" translate="label" showInDefault="1" showInWebsite="1" sortOrder="20">
                    <label>Payment Methods</label>
                    <group id="cmsbox_monetico_redirect_method" translate="label" showInDefault="1" showInWebsite="1" sortOrder="0">
                        <label>Redirect Method</label>
                        <attribute type="activity_path">payment/cmsbox_monetico_redirect_method/active</attribute>

                        <field id="redirect_method_active" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/cmsbox_monetico_redirect_method/active</config_path>
                        </field>

                        <field id="redirect_method_title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Title</label>
                            <config_path>payment/cmsbox_monetico_redirect_method/title</config_path>
                        </field>

                        <field id="redirect_method_button_label" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Button label</label>
                            <config_path>payment/cmsbox_monetico_redirect_method/button_label</config_path>
                        </field>

                        <field id="redirect_method_bypass_receipt" translate="label comment" sortOrder="30" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Bypass receipt page</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/cmsbox_monetico_redirect_method/bypass_receipt</config_path>
                            <comment>If set to yes, the shopper will be redirected directly to the site after payment without the receipt step.</comment>       
                        </field>

                        <field id="redirect_method_verify_3ds" translate="label" sortOrder="40" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>3D Secure Verification</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/cmsbox_monetico_redirect_method/verify_3ds</config_path>
                        </field>

                        <field id="redirect_method_sort_order" translate="label" sortOrder="50" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Sort Order</label>
                            <validate>validate-number</validate>
                            <config_path>payment/cmsbox_monetico_redirect_method/sort_order</config_path>
                        </field>
                    </group>
                </group>

                <group id="account_parameters" translate="label" showInDefault="1" showInWebsite="1" sortOrder="30">
                    <label>Account parameters</label>
                    <field id="environment" translate="label" sortOrder="0" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Environment</label>
                        <source_model>Cmsbox\Monetico\Model\Adminhtml\Source\Environment</source_model>
                        <config_path>payment/cmsbox_monetico/environment</config_path>
                    </field>

                    <field id="account_key_test" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Test Account Key</label>
                        <config_path>payment/cmsbox_monetico/account_key_test</config_path>
                        <depends>
                            <field id="environment">test</field>
                        </depends>
                    </field>

                    <field id="account_key_prod" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Production Account Key</label>
                        <config_path>payment/cmsbox_monetico/account_key_prod</config_path>
                        <depends>
                            <field id="environment">prod</field>
                        </depends>
                    </field>

                    <field id="account_tpe" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Account TPE</label>
                        <config_path>payment/cmsbox_monetico/account_tpe</config_path>
                    </field>

                    <field id="account_version" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Version</label>
                        <config_path>payment/cmsbox_monetico/account_version</config_path>
                    </field>

                    <field id="account_code" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Company code</label>
                        <config_path>payment/cmsbox_monetico/account_code</config_path>
                    </field>
                </group>

                <group id="order_settings" translate="label" showInDefault="1" showInWebsite="1" sortOrder="40">
                    <label>Order Status Settings</label>

                    <field id="new_order_status" translate="label comment" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>New order status</label>
                        <source_model>Cmsbox\Monetico\Model\Adminhtml\Source\OrderStatus</source_model>
                        <config_path>payment/cmsbox_monetico/new_order_status</config_path>
                        <comment>Select the status that should be used for new orders.</comment>
                    </field>

                    <field id="order_status_authorized" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Authorisation order status</label>
                        <source_model>Cmsbox\Monetico\Model\Adminhtml\Source\OrderStatus</source_model>
                        <config_path>payment/cmsbox_monetico/order_status_authorized</config_path>
                        <comment>Select the status that should be used for orders with successful payment authorisation.</comment>
                    </field>

                    <field id="order_status_captured" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Capture order status</label>
                        <source_model>Cmsbox\Monetico\Model\Adminhtml\Source\OrderStatus</source_model>
                        <config_path>payment/cmsbox_monetico/order_status_captured</config_path>
                        <comment>Select the status that should be used for orders with successful payment capture.</comment>
                    </field>
                </group>

                <group id="currency_settings" translate="label" showInDefault="1" showInWebsite="1" sortOrder="50">
                    <label>Currency Settings</label>
                    <field id="accepted_currencies" translate="label comment" sortOrder="0" type="multiselect" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Accepted Currencies</label>
                        <source_model>Magento\Config\Model\Config\Source\Locale\Currency</source_model>
                        <config_path>payment/cmsbox_monetico/accepted_currencies</config_path>
                        <comment>The payment option will not be displayed if the shopper's order currency is not part of the ones selected here.</comment>
                   </field>
                </group>

                <group id="country_settings" translate="label" showInDefault="1" showInWebsite="1" sortOrder="60">
                    <label>Country Settings</label>
                    <field id="accepted_countries" translate="label" sortOrder="0" type="multiselect" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Accepted countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <config_path>payment/cmsbox_monetico/accepted_countries</config_path>
                        <comment>The payment option will not be displayed if the shopper's billing or shipping country is not part of the ones selected here.</comment>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
